/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "*";

$header_height:        80px;
$footer_height:        60px;
$header_color:         #A8D9E9;

@mixin header_height {
  height: $header_height;
  line-height: $header_height;
}

.content {
  min-height: calc(100vh - 60px);
}

.footer {
  height: $footer_height;
  background: gray;
  display:flex;
  justify-content: center;
  padding-top: 5px;
  > div {
    width: 30%;
    text-align: center;
  }
}

.pageheader {
  background: $header_color;
}

.header {
  @include header_height;
}

.brand-name {
  @include header_height;
  > a {
    text-decoration: none;
  }
}
